h1
{
  color:#1F97C6;
}
h1 {
      font-size:350%;
    }
h2 
{
  color: #DB4CC1;
}
h2 {
      font-size:200%;
    }
body {
    background-color: #99F9FF;
}

.border 
  {border-style: solid;
    border-width: medium;
    border-color: black;
  } 
